:root {
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --main-text-color: #757575;
  --descript-title-color: #ffffff;
  --our-tea-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --logo-checkbox-color: #000000;
  --social-networks-color: #ffffff;
  --fill-color-svg: #afb1b8;

  --contact-link-footer: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.menu-item-mail-tel {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 30px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  margin-right: 90px;
  letter-spacing: 0.03em;
  color: var(--logo-checkbox-color);
}
.blue-logo {
  color: var(--accent-color);
}
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function);
}
.menu-link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
  background-color: var(--accent-color);
  border-radius: 2px;
}
.menu-link:hover,
.menu-link:focus,
.menu-link.current::after {
  opacity: 1;
}
.menu-link:hover,
.menu-link:focus,
.menu-link.current {
  color: var(--accent-color);
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-img.jpg);
  background-color: var(--hero-footer-background);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--descript-title-color);
}
.primary-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: var(--descript-title-color);
  background: var(--accent-color);
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/* Features */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.feature-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.feature-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.feature-svg-content {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--our-tea-background);
}

/* Our doing */

.doing {
  padding-top: 0px;
}
.second-level-headings {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}
.doing-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.doing-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.product-thumb {
  position: relative;
}
.duing-container {
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.duing-content {
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  color: var(--descript-title-color);
}

/* Our team */

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.our-team-section {
  background: var(--our-tea-background);
}
.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--descript-title-color);
  border-radius: 0px 0px 4px 4px;
}
.social-networks-list {
  display: flex;
  justify-content: space-between;
}
.social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--fill-color-svg);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.social-networks-link:hover,
.social-networks-link:focus,
.footer-social-media-link:hover,
.footer-social-media-link:focus {
  fill: var(--social-networks-color);
  background-color: var(--accent-color);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Our clients */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.our-clients-item:not(:last-child) {
  margin-right: 30px;
}
.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  border: 1px solid var(--fill-color-svg);
  color: var(--fill-color-svg);
  transition: border 250ms var(--timing-function);
}
.our-clients-img {
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--accent-color);
}

.our-clients-link:hover .our-clients-img,
.our-clients-link:focus .our-clients-img {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio-list {
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background-color: var(--descript-title-color);
}
.portfolio-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-item:hover .portfolio-card-wrapper {
  transform: translateY(0);
}
.portfolio-text-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--descript-title-color);
}

/* Portfolio cards */

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.portfolio-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.portfolio-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* Portfolio-btn */

.menu-secondary-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.item-secondary-btn:not(:last-child) {
  margin-right: 8px;
}

.secondary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  background: var(--our-tea-background);
  color: var(--secondary-text-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.secondary-btn:hover,
.secondary-btn:focus,
.secondary-btn.current {
  color: var(--descript-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Footer */

.footer {
  background: var(--hero-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
}
.footer-list {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  flex-direction: column;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.color-logo-footer,
.adress-color {
  color: var(--descript-title-color);
}
.contact-link-footer,
.contact-link-footer {
  color: var(--contact-link-footer);
  transition: color 250ms var(--timing-function);
}
.contact-link-footer:hover,
.contact-link-footer:focus {
  color: var(--accent-color);
}
.footer-content {
  display: flex;
}
.footer-content-address {
  margin-right: 70px;
}
.social-networks-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--social-networks-color);
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-img {
  fill: var(--social-networks-color);
}

/* Footer form */

.footer-form-wrapper {
  margin-left: auto;
}
.footer-form-group {
  display: flex;
}
.footer-form-text {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  color: var(--descript-title-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.subscribe-button {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
}
.footer-form-icon {
  fill: currentColor;
  margin-left: 10px;
}
.subscribe-input {
  outline: none;
  color: currentColor;
  background-color: transparent;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms var(--timing-function);
}
.subscribe .subscribe-input:hover,
.subscribe .subscribe-input:focus {
  border: 1px solid var(--accent-color);
}
.subscribe .subscribe-input::placeholder {
  color: var(--contact-link-footer);
}

/* Backdrop - Modal */

.backdrop.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--descript-title-color);
  box-shadow: 3px 0px 1px rgba(0, 0, 0, 0.12), 1px 0px 2px rgba(0, 0, 0, 0.2),
    1px 0px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
.modal-button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--descript-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}
.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--accent-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}
.form-fild {
  margin-bottom: 10px;
}
.form-fild-comment {
  margin-bottom: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-group-absolute {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border-color: var(--accent-color);
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icon-check-br.svg);
  border-radius: 2px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
}
.conditions {
  color: var(--accent-color);
}
