.social-networks-list {
  display: flex;
  justify-content: space-between;
}
.social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--fill-color-svg);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--social-networks-color);
    background-color: var(--accent-color);
  }
}

.footer-social-media-link {
  &:hover,
  &:focus {
    fill: var(--social-networks-color);
    background-color: var(--accent-color);
  }
}
