.footer {
  background: $hero-footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  flex-direction: column;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-link-footer,
.contact-link-footer {
  color: $contact-link-footer;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-content {
  display: flex;
}
.footer-content-address {
  margin-right: 70px;
}
.adress-color {
  color: $descript-title-color;
}
.footer-title {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: auto;
  color: $descript-title-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
