.footer-form {
  margin-left: auto;
}
.footer-form-icon {
  fill: currentColor;
  margin-left: 10px;
}
.subscribe__input {
  display: inline;
  outline: none;
  color: currentColor;
  background-color: transparent;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms $timing-function;

  .subscribe &:hover,
  .subscribe &:focus {
    border: 1px solid $accent-color;
  }
}
.subscribe .subscribe-input::placeholder {
  color: $contact-link-footer;
}
