.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  margin-right: 90px;
  letter-spacing: 0.03em;
  color: $logo-checkbox-color;
}
.blue-logo {
  color: $accent-color;
}
