.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.our-clients-item:not(:last-child) {
  margin-right: 30px;
}
.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  border: 1px solid var(--fill-color-svg);
  color: var(--fill-color-svg);
  transition: border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.our-clients-img {
  fill: currentColor;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
